body{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 226, 196);
  padding: 20px;
  color: rgb(39, 74, 39);
}

#tabuleiro{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  margin-top: 20px;
}

#tela-inicial {
  text-align: center;
  padding: 100px;
}

#comecar {
  background-color: darkgreen;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#comecar:hover{
  background-color: green;
}

.carta{
  width: 150px;
  height: 200px;
  background-color: darkgreen;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.carta img{
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.carta::before{
  content: '?';
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carta.virada {
    background-color: #238232;
    color: #ffffff;
}

.carta.virada::before{
  display: none;
}

.carta.virada img{
  display: block;
}

#final-jogo{
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.8);
  padding: 45px;
  border: 4px solid rgb(7, 73, 17);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  text-align: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  z-index: 1000;
}

#final-jogo p{
  color: rgb(4, 101, 4);
  font-weight: bolder;
}

#recomecar-jogo{
  background-color: #238232;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px; 
  padding: 10px 15px; 
}

#recomecar-jogo:hover{
  background-color: #135c1e;
}

#recomecar-jogo:active {
  transform: scale(0.98);
}